@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.bg-deeppurple {
  --tw-bg-opacity: 1;
  background-color: rgb(161 67 244 / var(--tw-bg-opacity));
}